<a id = 99> </a>
# 3. Basic Operations
* [Boolean, Integer, Float, and String](#1)
* [Type Coversion](#2)
* [Math Operations](#3)
* [String Operations](#4)
* [If, elif and else Statements](#5)
* [for and while loop](#6)
* [Condition](#7)
* [With As: Opening and Writing Files](#8)
* [Class](#9)

<a id = 1> </a>
***
## Boolean, Integer, Float and String

In [121]:
x = True
y = 10
z = 3.1416
s = 'Hellow World!'
print([type(x), type(y), type(z), type(s)])

[<class 'bool'>, <class 'int'>, <class 'float'>, <class 'str'>]

<a id = 2> </a>
***
## Type Coversion

In [120]:
a=12.3; b=6.4; c=6.5; d=100
print([a, b, c, d])
print([type(a), type(b), type(c), type(d)])
a=str(a); b=int(b); c=int(c); d=float(d)
print([a, b, c, d])
print([type(a), type(b), type(c), type(d)])

[12.3, 6.4, 6.5, 100]
[<class 'float'>, <class 'float'>, <class 'float'>, <class 'int'>]
['12.3', 6, 6, 100.0]
[<class 'str'>, <class 'int'>, <class 'int'>, <class 'float'>]

<a id = 3> </a>
***
## Math Operations

In [122]:
print('addition:',1+2) 
print('substraction:',1-2)  
print('multiplication:',1*2)  
print('division:', 1/2) 
print('mod:', 7%4)  
print('power:', 2**3)  
print('round:',round(2.654, 2)) 
print('round:',round(2.654, 1))

addition: 3
substraction: -1
multiplication: 2
division: 0.5
mod: 3
power: 8
round: 2.65
round: 2.7

<a id = 4> </a>
***
## String Operations

In [64]:
str1 = 'Hello '
str2 = 'World'
str1*3+str2

'Hello Hello Hello World'

In [68]:
# [strat:end ind:space]
print(str1[:]+str1[:])
print(str1[2:]+str1[:-2])
print(str1[::2])

Hello Hello
llo Hell
Hlo

In [42]:
# string length
len(str1)

6

In [70]:
# split string
str3='apple, watch, orange'
sstr = str3.split(',')
sstr

['apple', ' watch', ' orange']

In [73]:
# join all elements in the list with ","
",".join(sstr)

'apple, watch, orange'

In [63]:
# Lower and upper
print(str1.lower()+str2.upper())

hello WORLD

In [100]:
# string replace
str3.replace(',',';')

'apple; watch; orange'

<a id = 5> </a>
***
## If, elif and else Statements

In [ ]:
x = 1
if x==1:
    print(1)
elif x==2:
    print(2)
else:
    print('other')

<a id = 6> </a>
***
## for and while loop

In [79]:
# while loop
i = 1
while i<4:
    print(i)
    i += 1

1
2

In [81]:
# for loop
for i in range(3):
    print(i)

0
1
2

In [78]:
# for loop
ls = ['apple', 'banna', 'pineapple']
for i in ls:
    print(i)

apple
banna
pineapple

<a id = 7> </a>
***
## Condition

In [110]:
# String
str1 = 'Hello world'
str2 = '100'
print("str2==100?", str2 == '100')
print("'He' in str1?", 'He' in str1)
print("All str1 upper?",str1.isupper())
print("All str1 lower?",str1.islower())
print("str2 numeric?",str2.isnumeric())

str2==100? True
'He' in str1? True
All str1 upper? False
All str1 lower? False
str2 numeric? True

In [111]:
# Number
a = 3
b = 4
print('a==b equal?', a==b) 
print('a!=b not equal?', a!=b) 
print('a>=b?', a>=b)
print('a<b?', a<b)

a==b equal? False
a!=b not equal? True
a>=b? False
a<b? True

In [99]:
# Boolean
print(True|False)
print(True&False)

True
False

<a id = 8> </a>
***
## With As for Opening and Writing Files

In [145]:
filedir = './examples/220912-HLx1.txt'
fileoutput = './examples/220912-HLx1-280nm.txt'
# open 
x = []
y = []
start_flag = False
wait=3
spacer='	'
columnum=2
with open(filedir,'r') as f1:
    for line in f1.readlines():
        if ('Wavelength(nm)	280' in line): 
            start_flag = True
        if wait<=0: 
            s = line.split(spacer)
            if len(s)<columnum: 
                break
            x.append(float(s[0]))
            y.append(float(s[1]))
        if start_flag:
            wait=wait-1     
            
# write a list of strings into txt
with open(fileoutput,'w') as f2:
     for i in range(len(x)):  
        lines=[str(x[i])+'	'+str(y[i])+'\n']
        f2.writelines(lines)

<a id = 9> </a>
***
## Class

[Back to Top](#99)