# 4. Data Structure 
* Built-in
    * [Tuple](#1-0)
    * [List](#1-1) 
        * [construction](#1-1-1)
        * [modification](#1-1-2): append(), extend(), insert(), pop(), delete 
        * [condition](#1-1-3)
        * [operation](#1-1-4): min(), max(), sorted()
    * [Dictionary](#1-2)
        * [construction](#1-2-1)
        * [modification](#1-2-2): update(), delete
        * [condition](#1-2-3)
    * [Set](#1-3)
        * [modification](#1-3-1): add(), remove()
        * [condition](#1-3-2)
        * [operation](#1-3-3)
* [Numpy](#2)
* [Pandas](#3)
* TensorFlow

***
## Python Built-in Structure

<a id =1-0> </a>
### 1. Tuple: for immutable data

In [81]:
tup = ((1,2),(3,5))
tup[0][1]

2

In [157]:
# convert tuple to the format of list which can be modified 
print(list(tup))
list(list(tup)[0])

[(1, 2), (3, 5)]

[1, 2]

***
<a id =1-1> </a>
### 2. List

<a id =1-1-1> </a>
#### Construction

In [103]:
a = ['appel', 100, True]
a

['appel', 100, True]

In [104]:
# Number list
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [105]:
# range(start, end, space)
# end-index is excluded in the list
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [106]:
nlist = [num for num in range(1,10) if num%2 == 0]
nlist

[2, 4, 6, 8]

<a id =1-1-2> </a>
#### Modification

In [107]:
# modify elements
nlist = [[2,3,4,5],
         [2,4,5,6]]
nlist[0][1]=7 # list[row ind][column ind]
print(nlist)
# Get elements
print(nlist[0][1:3])

[[2, 7, 4, 5], [2, 4, 5, 6]]
[7, 4]

In [108]:
# append
print(sl)
sl = ['A','B','C','D']
sl.append('E')
sl

['A', 'B', 'X', 'B']

['A', 'B', 'C', 'D', 'E']

In [109]:
# extend
sl.extend(['G','H','I'])
sl

['A', 'B', 'C', 'D', 'E']

['A', 'B', 'C', 'D', 'E', 'G', 'H', 'I']

In [110]:
# insert(location ind, inserted element)
print(sl)
sl.insert(1,'X')  
sl

['A', 'B', 'C', 'D', 'E', 'G', 'H', 'I']

['A', 'X', 'B', 'C', 'D', 'E', 'G', 'H', 'I']

In [111]:
# delete
print(sl)
del sl[1:2]
sl

['A', 'X', 'B', 'C', 'D', 'E', 'G', 'H', 'I']

['A', 'B', 'C', 'D', 'E', 'G', 'H', 'I']

In [112]:
# pop: only remove the last element
print(sl)
sl.pop()
sl

['A', 'B', 'C', 'D', 'E', 'G', 'H', 'I']

['A', 'B', 'C', 'D', 'E', 'G', 'H']

<a id =1-1-3> </a>
#### Condition

In [59]:
# existence in list
print('X' in sl)
print('J' in sl)

True
False

<a id =1-1-4> </a>
#### Operation

In [55]:
# Find index
# only return the index of the first found element
sl = ['A','B','X','B']
sl.index('B')

1

In [191]:
ls = [1,2,3,4,5]
print(max(ls))
print(min(ls))

5
1

In [65]:
# Sorting
print('small to large: ',sorted(sl))
print('large to small: ',sorted(sl, reverse=True))

small to large:  ['A', 'B', 'B', 'X']
large to small:  ['X', 'B', 'B', 'A']

***
<a id =1-1> </a>
### 2. Dictionary

<a id =1-2-1> </a>
#### Construction

In [143]:
# construction {key1: values1, key2: values2, ...}
dic = {'Shaun':[84,10],'Allen':[63,12],'Chin':[76,20], 'Charlie': [83,10]}
# look up a key and get its values from a dictionary 
dic['Shaun']

[84, 10]

In [153]:
# return all keys => .keys()
print(dic)
allkeys = dic.keys() # output is not a list format
list(allkey)

{'Shaun': [84, 10], 'Allen': [63, 12], 'Chin': [76, 20], 'Charlie': [83, 10]}

['Shaun', 'Allen', 'Chin', 'Charlie']

In [154]:
# return all values => .values()
allvalues = dic.values()
list(allvalue)

[[84, 10], [63, 12], [76, 20], [83, 10]]

In [156]:
# return all key-value pairs => .items()
allpairs = dic.items()
list(allpairs)

[('Shaun', [84, 10]),
 ('Allen', [63, 12]),
 ('Chin', [76, 20]),
 ('Charlie', [83, 10])]

<a id =1-2-2> </a>
#### Modification

In [126]:
print(dic['Shaun'])
dic['Shaun'] = [84,10,200]
print(dic['Shaun'])

[84, 10]
[84, 10, 200]

In [131]:
# add new keys => upadte
dic.update({'Edison':[95,11,175],'John':[64,15,165]})
dic

{'Shaun': [84, 10],
 'Allen': [63, 12],
 'Chin': [76, 20],
 'Charlie': [83, 10],
 'Edison': [95, 11, 175],
 'John': [64, 15, 165]}

In [132]:
# delete keys
del dic['John']
dic

{'Shaun': [84, 10],
 'Allen': [63, 12],
 'Chin': [76, 20],
 'Charlie': [83, 10],
 'Edison': [95, 11, 175]}

<a id =1-2-3> </a>
#### Condition

In [159]:
# existence in dictionary 
print('Ben' in dic)
print('Shaun' in dic)

False
True

***
<a id =1-3> </a>
### 4. Set: no same element in a set

In [172]:
set1 = {1,2,2,3,4,4,4}
print(set1)

{1, 2, 3, 4}

<a id =1-3-1> </a>
#### Modification

In [166]:
# add 
set1.add(5)
set1

{1, 2, 3, 4, 5}

In [167]:
# remove element
set1.remove(2)
set1

{1, 3, 4, 5}

<a id =1-3-2> </a>
#### Condition

In [185]:
seta = {'apple', 'banana', 'orange'}
setb = {'banana', 'grapes'}
setc = {'benz'}
setd = {'banana'}

In [175]:
seta&setb

{'banna'}

In [176]:
seta|setb

{'apple', 'banna', 'grapes', 'orange'}

In [177]:
seta-setb

{'apple', 'orange'}

In [186]:
print(setb<=seta)
print(setd<=seta)

False
True

In [181]:
# judge "disjoint"
print(seta.isdisjoint(setb))
print(seta.isdisjoint(setc))

False
True

<a id =1-3-3> </a>
#### Operation

In [188]:
set1 = {1,2,3,4,5}
print(max(set1))
print(min(set1))

5
1

<a id =2> </a>
***
## Numpy
* [Numpy array](./Numpy_Array.ipynb)
* [Numpy operations](./Numpy_Operation.ipynb)

<a id =3> </a>
***
## Pandas
* [DataFrame](./Pandas_DataFrame.ipynb)
* [Pandas Operations](./Pandas_Operations.ipynb)

*** 
## TensorFlow
* Tensor